html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 40px;
}

#slider {
    background-image: url(images/casa-isolani-residenze-di-epoca-bologna-vista-camera-abbado-580.jpg);
}

#steps_nav {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#panorama{
    height: 700px;
}

/*#panorama img{
    height: 600px;   
}*/

.panomap area{
    color: rgba(255,0,0,.3);
}